{% extends 'base.html' %}

{% block content %}
    <div id="price-display" class="container">
    {% if not_valid_ticker %}
        <h3>{{not_valid_ticker}}</h3>
    {% else %}
        {% if searched_price.Response %}
            <h3>Sorry, there is no data for your entry: '{{quote}}'. Please enter a valid ticker and search again.</h3>
        {% endif %}
        {% for key,value in searched_price.DISPLAY.items %}
            <h1>{{key}}</h1>
            <strong>Current Price: </strong>{{value.USD.PRICE}} <br>
            <strong>24Hour High: </strong>{{value.USD.HIGH24HOUR}} <br>
            <strong>24Hour Low: </strong>{{value.USD.LOW24HOUR}} <br>
            <strong>Market Cap: </strong>{{value.USD.MKTCAP}} <br>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}