{% extends 'base.html' %}

{% block content %}
    <div class="col-md-6 offset-md-4">
        <h1>Change Password</h1>
        <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            
            <p>Please verfiy all fields have been filled out correctly.</p>
            </div> 
        {% endif %}

        {{form.as_p}}
            <input type="submit" value="Change Password" class="btn btn-info">
        </form>
    </div>
{% endblock %}